:root {
    --mc: #ca705b;
    --dc: #333333;
    --wc: #f9f9f9;
    --lc: #dddddd;
}


/* 
적용
http://gridcalculator.dk/#/1572/12/20/16
*/

.inner {
    max-width: 1620px;
    padding: 0 16px;
    margin: 0 auto;
}

.f__inner {
    max-width: 1620px;
    padding: 0 16px;
    margin: 0 auto;

    display: flex;
    gap: 20px;
}

.right__inner {
    width: calc((100% - 1620px)/2 + 1620px);
    padding: 0 0 0 16px;

    margin: 0 0 0 auto;
}


.wrap {
    min-width: 1900px;
}

.section .txt_area em {
    display: block;
    color: var(--mc);
    font-size: 14px;
    font-weight: 600;
}

.section .txt_area h2 span {
    display: block;
    color: var(--dc);
    font-size: 40px;
    font-weight: 200;
}

.section .txt_area h2 strong {
    display: block;
    color: var(--mc);
    font-size: 51px;
    font-weight: 600;
}

.section .txt_area p {
    display: block;
    color: var(--dc);
    font-size: 18px;
}

/* .section {
    height: 100vh;
} */

/* button reset class */
.abtn {
    border: none;
    background: transparent;
}


#header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 999;
    border-bottom: 1px solid transparent;
    background: #fff;
}

#header .content {
    height: 120px;
    align-items: center;
}

#header .gnb {
    margin: 0 0 0 auto;
}

#header .gnb>ul {
    display: flex;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 119px;
    padding: 0 16px;
    font-size: 20px;
    font-weight: 500;
}

#header .contect {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 24px;
}

#header .contect span {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;

    font-size: 18px;
    padding: 5px;
    background: var(--mc);
    color: var(--wc);
    border-radius: 50%;
    margin: 0 8px 0 0;
}

#header .all__nb {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--dc);
    color: var(--wc);



    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#header .all__nb span {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;

    font-size: 32px;
    cursor: pointer;
}

.main__visual {
    position: relative;
}

.main__visual .visual__slide {
    height: calc(100vh - 200px);
    min-height: 700px;
}

.main__visual .itm {
    position: relative;
    height: calc(100vh - 200px);
    min-height: 700px;

    background-size: 130%;
    background-repeat: no-repeat;
    transition: 2s 0.5s;
}

.main__visual .itm.on {
    background-size: 120%;
}

.main__visual .dots__ {
    position: absolute;
    left: 100px;
    top: 200px;

    display: flex;
    flex-direction: column;

}

.main__visual .dots__ span::after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 1px;
    height: 150px;
    background: var(--mc);
}

.main__visual .dots__ span::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--mc);

}

.main__visual .dots__.on span::before {
    top: 176px;
    transition: 3s 0.5s;
}

.main__visual .wheel__ {
    position: absolute;
    left: 100px;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 30px;
    height: 45px;
    border: 2px solid var(--lc);
    border-radius: 15px;
}

.main__visual .wheel__::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 3px;
    height: 6px;
    background: var(--lc);

    animation: wheel 0.5s infinite;
}


@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 5px);
    }
}

.main__visual .banner__ {
    position: absolute;
    bottom: 180px;
    left: 50px;

    display: flex;
    gap: 40px;

}

/* https://bennettfeely.com/clippy/ */
.main__visual .banner__ li {
    width: 200px;
    height: 220px;
    background: var(--mc);
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
}


.main__visual .itm01 {
    background-image: url(../images/main_visual01.jpg);
}

.main__visual .itm02 {
    background-image: url(../images/main_visual02.jpg);
}

.main__visual .tit {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 200px;
    transform: translate(-100px, 0);
    opacity: 0;

    transition: 1s 1s;
}

.main__visual .itm.on .tit {
    transform: translate(0, 0);
    opacity: 1;
}

.main__visual .tit>* {
    display: block;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.main__visual .tit strong {
    font-size: 72px;
    font-weight: 400;
    color: var(--wc);
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.2;
}

.main__visual .itm02 .tit strong {
    color: var(--dc);
}

.main__visual .tit span {
    font-size: 72px;
    font-weight: 400;
    color: var(--mc);
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.2;
    margin: 0 0 16px 0;
}



.main__visual .tit p {
    font-size: 22px;
    color: var(--wc);
    line-height: 1.4;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    margin: 0 0 24px 0;
}

.main__visual .itm02 .tit p {
    color: var(--dc);
}

.main__visual .itm01 .tit img {
    display: block;
    margin: 0 auto;
    filter: grayscale(1) brightness(0) invert();
}

.main__visual .itm02 .tit img {
    display: block;
    margin: 0 auto;
    filter: none;
}

.main_premium {
    background: url(../images/content_bg01.jpg) no-repeat center center/cover;
}


.main_premium .txt_area em {
    margin: 0 0 48px 0;
}

.main_premium .txt_area .title {
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0 0 40px 0;
}

.main_premium .txt_area .title h2 {
    position: relative;
}

.main_premium .txt_area .title h2::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    width: 1px;
    height: 80px;
    background: var(--dc);
}

.main_premium .txt_area .title p {
    flex: 0 0 300px;
    line-height: 1.4;
}